name: Backend CI/CD

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  # -------------------------
  # 1️⃣ CI JOB (PR SAFE)
  # -------------------------
  ci:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run basic check
        run: echo "CI passed"

  # -------------------------
  # 2️⃣ DEPLOY JOB (PROD ONLY)
  # -------------------------
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd rocket-learning-backend-assignment
            git pull origin main
            npm install --production
            pm2 restart rocket-backend
            echo "Deployed successfully"